<h1>Welcome <%= user.username %></h1>

<form action="/create" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <button type="submit">Create</button>
</form>

<br>

<form action="/upload/" method="POST" enctype="multipart/form-data">
    <label for="file">Upload File</label>
    <input type="file" name="file" id="file">
    <button type="submit">Upload</button>
</form>

<div>
    <% const folders = user.folders %>
        <% folders.map((folder) => { %>
            <% const name = folder.name.toLowerCase(); %>
            <li><a href="<%= name %>/<%= folder.id %>"><%= folder.name %></a></li>
    <% }) %>
</div>