<form method="POST" action="/login">
    <label for="username">Userame</label>
    <input type="text" id="username" name="username">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <button type="submit">Login</button>
</form>